/* Splash page-specific styles*/
.login-register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #444 1px solid;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;

    background-image: url('earth_from_space.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.splash-container {
    max-width: 50vw;
    background-color: #222;
    border-radius: 1em;
    border: 3px solid #444;
    padding: 2em;
}