/* Reset for proper full-height behavior */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 70);
    color: #ddd;
    font-size: 18px;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}

body.black .body {
    background-color: rgb(24, 24, 24);
    color: #aaa;
}

body.black input, body.black select, body.black textarea, body.black button {
    background-color: #6c6c6c;
    color: #eee;
}

footer {
    display: flex;
    align-items: center;
    flex: 0 30px;
    padding: 10px;
    background-color: rgb(24, 24, 50);
    margin: 0px;
    border-width: 0px;
    border-top: 1px solid #444;
    justify-content: center;
}

header {
    background-color: rgb(24, 24, 50);
}

body.black header, body.black footer {
    background-color: rgb(5, 4, 10);
    border-color: #222;
}

footer > * {
    margin: 0 10px;
}

main {
    flex: 1;
    padding: 20px;
}