body {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 70);
    color: #ddd;
    font-size: 18px;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

header, footer {
    display: flex;
    align-items: center;
    flex: 0 30px;
    padding: 10px;
    background-color: rgb(24, 24, 50);
    margin: 0px;
    border-width: 0px;
}

header {
    border-bottom: 1px solid #444;
}

footer {
    border-top: 1px solid #444;
    justify-content: center;
}

main {
    flex: 1;
    padding: 20px;
}